[2018-06-30 11:02] rockyluke opened #1 "Add -version command"
It would be helpful to add -version/--version command.

[2018-06-30 11:03] rockyluke opened #2 "Add -help command"
It would be helpful to add -help/--help command.

[2018-10-12 13:41] #2 closed

[2018-10-12 13:42] #1 closed

[2018-10-17 08:41] egee-irl opened #4 "Question - InfluxDB 1.6 Support?"
I see that this fork is the most current fork for InfluxDB-Relay. Despite this, I have been unable to get the relay working with InfluxDB 1.6. Whenever I start the relay, it appears to hang at "Starting relays...".

[2018-10-17 08:52] rockyluke commented on #4
Pretty strange we're using 1.6.2.

ii  influxdb                        1.6.2-1                            amd64        Distributed time-series database.

We'll look deeper in our setup.

[2018-10-17 09:01] rockyluke commented on #4
Oct 17 10:57:06 noc-gd2z1l2 influxdb-relay[27410]: 2018/10/17 10:57:06 Starting relays...
Oct 17 10:57:06 noc-gd2z1l2 influxdb-relay[27410]: 2018/10/17 10:57:06 Starting HTTP relay "http-relay" on 0.0.0.0:9096

Our (simple) configuration:

[code]

[2018-10-17 11:09] egeexyz commented on #4
Ok, it appeared to be a configuration issue on my end. I believe I have it working now

[2018-10-17 11:14] rockyluke commented on #4
Keep us informed we plan to maintain `influxdb-relay` for long-term period.

[2018-10-24 09:42] egeexyz commented on #4
Confirmed issue was on my end. Been using this fork for a week, no major issues :+1:

[2018-10-24 09:42] #4 closed

[2018-10-24 09:47] egee-irl opened #5 "Influxdb-Relay does not create db's"
This is possibly a _feature_ or a side effect of the design but, it does not appear that Influxdb-Relay will create databases in InfluxDB. If this is intended, I recommend updating the documentation in the caveats section.

[2018-10-24 09:49] egee-irl opened #6 "Influxdb-Relay doesn't report status to Telegraf"
This is also probably a side effect of how influxdb-relay is designed but, if using Telegraf to send data to InfluxDB via the relay, Telegraf will assume transmission failed because it does not receive anything back from influxdb-relay.

The only real effect of this is filling up the Telegraf log with erroneous "could not connect to database!" error messages. Either way, this also should be mentio

[2018-10-24 11:26] rockyluke commented on #6
We'll take a look into that, we didn't encouter it on our sides. Thanks for your report.

[2018-10-24 11:26] rockyluke commented on #5
It's a missing feature of the original daemon, we're currently working on it!

[2018-10-24 11:27] rockyluke commented on #4
Thanks!

[2018-10-24 12:00] rockyluke opened #7 "Test NOC"

[2018-10-24 12:01] #7 closed

[2018-10-25 08:15] lucas-santoni commented on #6
@egee-irl Hello ! Thanks for your feedback ! :D Could you please post your relay configuration so that we can try to replicate it ? Thank you !

[2018-10-25 09:07] egeexyz commented on #6
Sure, this is it -
[code]

[2018-10-25 09:56] egee-irl opened #8 "influxdb-relay intermittently stops sending data to InfluxDB"
Use Case:

I have 5 Telegraf instances sending data to a single influxdb-relay. Each instance is on a different machine (including influxdb-relay and influxdb itself). My single Influxdb-relay instance is forwarding data to two InfluxDB servers.

Issue:

From my testing, Influxdb-relay appears to handle up to 3 Telegraf streams just fine. Once a 4th or 5th is added, the input streams simply stop.

[2018-10-26 15:31] rockyluke commented on #8
Could you please try the latest release. We have fixed a huge memory leak.

[2018-10-29 11:23] egeexyz commented on #8
So it looks like the memory leak fix may have improved things slightly as I was able to run about 5 Telegraf instances sending data to influxdb-relay before data was lost.

As you can see from the attached image, the issue is still happening even with the latest code.
![stillbroken](https://user-images.githubusercontent.com/6679968/47646789-3e9b1a00-db32-11e8-9547-7be616ba8966.png)

[2018-10-30 09:57] rockyluke commented on #8
Thanks for the report. We didn't encouter the issue on our side with around 500 telegraf.

Please find attache our infrastructure maybe it can help us to understand the issue.

![influxdb - v2 0](https://user-images.githubusercontent.com/1527750/47710251-9caf2680-dc32-11e8-9c18-18ac891fa07f.png)

[2018-11-07 09:33] camskkz commented on #8
Hello,

Do you have any error logs that could help us debug this issue ? Because as @rockyluke said we have hundreds of telegraf sending metrics to the relay without issues.

[2018-11-07 09:41] egeexyz commented on #8
Not at the moment, I've moved passed this issue. The only error logs I can think of would be from Telegraf (which reported that it could not connect to the Relay) and from the relay itself which simply says it has received a request. I'm not aware of any other logs.

Could it be platform related? The instances with Telegraf are running Ubuntu 16.04 while the instance running the Relay was running

[2018-11-07 10:35] camskkz commented on #8
It might, but I am not sure, our telegrafs are running on multiple differents platforms (ubuntu, debian, centos, windows). Our influxdb-relay is running on a debian 8.11 with go 1.7.4 at the moment.
Did you have this issue with our fork only or with the official version also ?

[2018-11-08 09:03] egeexyz commented on #8
I will be revisiting this issue either tomorrow or early next week and I'll be able to provide more data then.

We require a relay like this for our data replication process so I'd very much like to get this working! :smile:

[2018-11-08 12:02] Jie211 opened #9 "Is the buffering function is not supported when using influxdb as input？"
I use prometheus as input and there are two influxdbs on the back end. When I deliberately stopped one of the influxdbs and started it again 10 minutes later, the ten minutes of data was not restored to this influxdb.

Did I misunderstand the buffering?

I used the configuration file just like sample_buffered.conf and set the type to prometheus

[2018-11-08 12:13] lucas-santoni commented on #9
Juste to be sure: you are using Prometheus as input right ? Because your messages states so whereas your title seems to indicate that you're using InfluxDB. 😄

[2018-11-08 12:17] Jie211 commented on #9
Sorry, I made a mistake ...
I use prometheus as input.

[2018-11-08 12:25] lucas-santoni commented on #9
I'm pretty sure that the buffering feature is not implemented when using Prometheus as an input. We will try to implement it as soon as possible. I'm adding it to the caveats list for now.

I don't think that Vente-Privée uses the buffering feature which might explain why we didn't notice it before. 😛 Thanks for your feedback !

Edit : https://github.com/vente-privee/influxdb-relay/commit/79a2ef4f

[2018-11-08 13:11] Jie211 commented on #9
@Geospace Thank you for your reply

[2018-11-08 13:13] rockyluke commented on #9
We will work on it quickly.

[2018-11-09 15:34] lucas-santoni commented on #5
https://github.com/vente-privee/influxdb-relay/commit/a8e4974d7e40b90120acd43a42682cce6d6568e0 implements it ! 😄

You should now be able to provide the `admin` parameter and query the `/admin` endpoint ! You can take a loot at the README for more information.

[2018-11-13 02:12] egeexyz commented on #5
Very cool, I hope to test this and the other issue I submitted later today!

[2018-11-13 09:17] egeexyz commented on #8
Well we're off to an interesting start. I've got the relay setup on a remote machine where it forwards data to two other remote machines. I used the Sample config as my base config and it looks like this
[code]

I've got several remote Telegraf instances pointing at it and I'm receiving this error

[code]

I'm unsure if I am missing something obvious here because I'm effectively using the sample c

[2018-11-13 09:27] Oursin commented on #8
I think your problem here is that you didn't specify the URL scheme `http://` at the start of the locations. Could you try adding the scheme and tell us if that changes anything for you ?

[2018-11-13 09:31] egeexyz commented on #8
Looks good so far. I'll slowly increase the number of Telegraf instances pointing to it and let you know how it goes

[2018-11-13 11:29] egeexyz commented on #8
I'm pleased to report that I have about 25 Telegraf instances plugged into influxdb-relay and everything appears to be working fine.

Previously, the connections would drop very quickly, within minutes of adding the 5th or 6th connection. I've been running for well over an hour and everything looks great.

I'll close this issue and re-open it if connections drop again.

[2018-11-13 12:37] egeexyz commented on #6
I'm no longer seeing this issue :+1:

[2018-11-13 12:37] #6 closed

[2018-11-16 16:43] lucas-santoni commented on #9
Hi there ! https://github.com/vente-privee/influxdb-relay/commit/cbeacb39cacaca1fb98cfb5aecf050df89bec601 (and some previous commits) should implement it ! :D Let us know if it works for you !

[2018-11-16 16:43] lucas-santoni commented on #5
@egee-irl Did you have the chance to try it ? :D

[2018-11-19 08:24] egeexyz commented on #5
Ah sorry, this one slipped through the cracks. I'll test it out today

[2018-11-19 10:42] egeexyz commented on #5
Doesn't seem to work with Telegraf

![bug](https://user-images.githubusercontent.com/6679968/48702027-b2b26600-eba4-11e8-9de5-ad38f88373ec.png)

[2018-11-19 22:43] Freakin commented on #9
@Geospace Just wanted to thank you for picking this up and giving it some love.  Enterprise-only clustering is a big problem for Influx and its good to have viable options that aren't two years since the last commit ❤️

[2018-11-20 00:48] Jie211 commented on #9
@Geospace @rockyluke
Good work bro! As @Freakin said, your maintenance has helped a lot of people who want to use influx with high availability.

[2018-11-28 09:25] egeexyz commented on #8
It looks like this issue has resurfaced and is worse than before. I'm only able to get 5 instances to show up in InfluxDB and we have about 20 sending data to the relay. The connections just slowly drop off for no apparent reason or pattern.

![image](https://user-images.githubusercontent.com/6679968/49141853-6bb32780-f2ac-11e8-9e57-9938cb17bbd0.png)

[2018-11-28 09:32] Oursin commented on #8
Hello !
Did you try with the official InfluxDB-Relay ? Do you experience the same problems ?
We don't really understand why you have this problem either, so it could help to see if it is linked with our modifications, thanks !

[2018-11-28 11:37] egeexyz commented on #8
I just tried it with the official relay and I have the same problem with it. I think this issue might be related to https://github.com/vente-privee/influxdb-relay/issues/5 because the logs for Telegraf are filled with the "could not create db" error, even though the database exists in InfluxDB.

What else is strange is even if I set `skip_database_creation = true` in the Telegraf config, it still

[2018-11-28 11:58] egeexyz commented on #8
Are you guys using Telegraf with your influxdb-relay? I've noticed that Telegraf returns a 404 if _it_ cannot reach a service. So if Influxdb-relay is **not** running, it returns a 404. If influxdb-relay is running and it has a problem connecting, it again returns a 404. This makes it nearly impossible to determine what is actually going wrong.

For testing purposes, I have a Telegraf daemon runni

[2018-11-28 12:47] camskkz commented on #8
Hello,

We are indeed using telegraf with influxdb-relay, but we have an nginx in front of it. I have checked our logs (from influxdb and nginx) and I dont see any 404 and we have hundreds of telegraf running on various environment. We also have a telegraf running on the same server as the relay and we do not have issue with it.

As for #5, telegraf tries indeed to create the DB when it starts but

[2018-11-29 13:20] #9 closed

[2018-12-05 07:44] #8 closed

[2018-12-20 16:56] habib-the-sweet opened #11 "http: invalid Read on closed Body when using /admin endpoint"
When I trying to create database or something like that

`curl -u username:password -POST "http://localhost:8086/admin" --data-urlencode "q=create database testdb"`

 I have got next error:

`2018/12/20 16:42:02 Problem posting to relay "influx-http" backend "db02": Post http://10.10.10.102:8086/query: http: invalid Read on closed Body`

Ubuntu 18.04.1 LTS
go version go1.10.4 linux/amd64

[2018-12-20 16:58] lucas-santoni commented on #11
Hi ! Thanks for your feedback ! We will look into it really soon ;)

[2018-12-21 10:39] lucas-santoni commented on #11
This should be fixed by https://github.com/vente-privee/influxdb-relay/commit/45a1f1c5c6ba27662778832f960511a16c457042 ! If you have any feedback, please feel free 😊

[2018-12-21 10:46] Geospace opened #12 "Infinite buffering"
I'm opening this following : https://github.com/influxdata/influxdb-relay/issues/71

The problem is that when an 'impossible' request is in the retry buffering, it will basically loop and fail forever. This is actually excepted behavior and two situations might append:

- One wants the request to actually pass and update the database (for exemple, creating a database that is still not existing)
-

[2018-12-21 14:20] habib-the-sweet commented on #11
I successfully built the binary from develop branch. But when I launch I get:

[code]

and exit without any errors. What am I doing wrong?

[2018-12-21 14:25] Oursin commented on #11
Hi !
Could you show us your config.conf file ?
Thanks !

[2018-12-21 14:26] habib-the-sweet commented on #11
[code]

[2018-12-21 14:28] Oursin commented on #11
Oh okay, sorry.
We're currently making some modifications to the config file. Could you try with this ?
[code]

[2018-12-21 14:31] habib-the-sweet commented on #11
Now I have got this :)

[code]

[2018-12-21 14:49] Oursin commented on #11
Can you pull the latest develop version ? (We just changed some code)

[2018-12-21 15:01] Oursin commented on #11
We've just found why you had the first "error" when it wouldn't start but did not show any error, we're fixing that now.

Edit: Fixed with 456f62a0207b2a58657b226da5732e867deb6945

[2018-12-21 15:39] habib-the-sweet commented on #11
Sorry, but it is another error now:

[code]

[2018-12-21 15:57] Oursin commented on #11
Okay, i've found the source of this error, the relay tried to use a logger, but the logger is created only when `-v` option is set. I've changed it so the logger gets created everytime.

[2018-12-21 16:14] habib-the-sweet commented on #11
Looks like there's almost working :)

[code]

[2018-12-21 18:30] lucas-santoni commented on #11
Hi there !

It looks that you are building from the `master` branch so you need to use the 'old' format of configuration. The configuration Wolfchin asked you to try is at the newer format (which is only working with the `develop` branch) and could not work with the `master` branch.

The initial configuration you provided should work with the `master` branch:

[code]

However, the configuration Wo

[2018-12-24 13:18] habib-the-sweet commented on #11
Now it runs okay but when I trying to create database I've got next error:

[code]

and database creates only in one instance.

[code]

[code]

[2018-12-25 10:44] #12 closed

[2018-12-25 17:01] lucas-santoni commented on #11
@habib-the-sweet Could you please try again on the `develop` branch ? It should be fixed now. We were doing bad buffer things... :p

Let us know if you have any other issue !

[2018-12-31 12:07] RohanKumbhar1 opened #13 "influxdb-relay issue, node1 suddenly stops and unable to connect"
Hi ,

I'm using influxdb relay with AWS load balancer and suddenly one of the node stops responding
details logs as given below
1.  With Journalctl cmd
[code]
2. When trying to connect influx shell
`Failed to connect to http://localhost:8086
Please check your connection settings and ensure 'influxd' is running.`

3. when trying to exec influxdb container where as container is already running
[code

[2019-01-04 10:03] ClementCornut commented on #13
Hi,

It's quite hard to have an answer without your configuration file.

Do you have the latest version ? We have patched many things lately.
Just be careful if you want to update, the configuration file have changed for readability.

For your docker exec, it seems that its an issue from docker. Check your docker version, it has been patched in 18.03. If you can recreate the influxdb image.

If no

[2019-01-18 11:56] vikramaroskar opened #14 "Netdata Support"
I am trying to setup Influx relay for Netdata.

I'm referring to https://github.com/vente-privee/influxdb-relay/blob/master/docs/architecture.md

However, my netdata writes to port 2003 on my single server and same has influx on 8086 (default configs)
I'd like to setup the architecture as specified in the doc, but I'm unable to separate out the calls from graphite to influx (2 relays - 2 influx db

[2019-01-18 12:17] rockyluke commented on #14
That's our desing. We placed nginx on top of the relay to have more flexibility.

![influxdb - v2 0](https://user-images.githubusercontent.com/1527750/51386639-6e4f3200-1b23-11e9-9e0f-1905a8e28338.png)

[2019-01-18 13:15] vikramaroskar commented on #14
Thank you very much. Can you help sorting my config files. I can't seem to be getting it to work.
Here's my nginx config.

        upstream influxdb {
          server ip1:8086;
          server ip2:8086;
        }
        upstream relay {
          server ip1:9096;
          server ip2:9096;
        }

        server {
          listen 2004;
          location /query {
            limit_except GE

[2019-01-18 14:57] rockyluke commented on #14
Let me give you our configuration of one node

TL;DR

NGINX listen on 80 + 443 (default port)
influxdb-relay listen on 9096 (default port)
influxdb listen on 8086 (default port)
and our customers access on port 443

*NGINX*
[code]

*influxdb-relay*
[code]

*influxdb*
[code]

[2019-01-19 05:10] vikramaroskar commented on #14
Thanks. I'll give it a try.
Still it seems like you have http API calls that you're forwarding,

I'm trying to get NETDATA to hit NGINX.
Is this correct, or you use some other config in netdata.

[global]
memory mode = map
history = 604800

[web]
mode = single-threaded

[backend]
enabled = yes
type = graphite
destination = nginx-ip:2004
update every = 300

[2019-01-19 10:41] rockyluke commented on #14
We currently don't use netdata so I'm not sure about my answer but I think it's because our relay can't handle graphite request (which you define in netdata backend).

[2019-01-19 10:56] vikramaroskar commented on #14
yes, that's the issue I'm trying to resolve mainly...
here's my nginx log snippet.  (with graphite)

$tailf /var/log/nginx/access.log
x.x.x.x - - [18/Jan/2019:12:17:03 +0000] "netdata.IT074.disk_svctm.sda.svctm 0.3928571 1547813815" 400 182 "-" "-"
x.x.x.x - - [18/Jan/2019:12:22:03 +0000] "netdata.IT074.disk_qops.sda.operations 0.0163934 1547814115" 400 182 "-" "-"
x.x.x.x - - [18/Jan/2019:12:27:0

[2019-01-24 06:27] ljhmily opened #15 "the latest version do not support buffer recover to the fail node"
My configuration like
# InfluxDB && Prometheus
[[http]]
name = "example-http-influxdb"
bind-addr = "0.0.0.0:9096"
#health-timeout-ms = 100
#rate-limit = 10000
#burst-limit = 10000
#default-ping-response = 200

[[http.output]]
name = "dev-1"
location="http://10.17.14.5:8086/"
endpoints = {write="/write", ping="/ping", query="/query"}
timeout="10s"
#skip-tls-verification = false
buffer-size-mb = 100

[2019-01-24 06:28] vikramaroskar commented on #14
Evaluted a setup with 2 INFLUX RELAYS AND 2 INFLUXDBs

Each of those relays pointing to both the INFLUXDBs.

NGINX used as a load balancer and forwarding proxy.

Observations: In general, we can write to Http on NGINX and it can forward and load balance to one of the INFLUX RELAYs.
However, Nginx doesn't understand Netdata format(either graphite, json or tsdb) and Netdata doesn't have a http backe

[2019-01-25 19:13] todd-berger opened #16 "Is the influxdb /query enpoint supported?"
Does the relay support read as well as write or is it necessary to have a load balancer redirect /query to the backend endpoints?  It's unclear in the docs.  I have a successfull configuration setup for writes but neither grafana nor the influx cli works for reads.  They work directly against the backend however.

My config is:

# -*- toml -*-

# InfluxDB
[[http]]
  name = "xxxx-influxdb-relay"

[2019-01-26 09:50] rockyluke commented on #15
Thanks for your report. We'll investigate quickly 👍

[2019-01-26 09:51] rockyluke commented on #16
**TL;DR no**

Let me give you our configuration of one node

NGINX listen on 80 + 443 (default port)
influxdb-relay listen on 9096 (default port)
influxdb listen on 8086 (default port)
and our customers access on port 443

*NGINX*
[code]

*influxdb-relay*
[code]

*influxdb*
[code]

[2019-01-28 18:02] todd-berger commented on #16
Thanks for the detailed response.  i'm doing something similar.

cheers,

[2019-01-28 18:02] #16 closed

[2019-02-05 10:49] chrianmiel commented on #15
Hi. Unfortunately I have the same problem. Can you mention which version (checkout) is working as expected? thanks

[2019-02-15 07:12] zhangjianweibj opened #17 "InfluxDBClientError: 400: "unable to parse points"
hello,
i use openstack-monasca components wirte data to influxdb with influxdb-relay.but encounter a error,message information too sample that i do not know more useful information and which metrics lead to this error.is anyone can help me?very thanks.

![image](https://user-images.githubusercontent.com/18585129/52840261-aef69700-3133-11e9-8da5-e1bf57bb238f.png)

[2019-02-15 12:03] rockyluke commented on #17
Thanks for your report.

[2019-02-16 06:13] zhangjianweibj commented on #17
ok,before throws error,so many metrics points stdout.that i do not know which metric cause
unable to parse points error.influxdb-relay should tell user the accurate error points,not a fuzzy information.

![image](https://user-images.githubusercontent.com/18585129/52895374-7ec2fd00-31f4-11e9-8c4c-7db00943d49b.png)

[2019-02-18 06:56] zhangjianweibj opened #18 "unable to parse points without any useful messages"
if influxdb points write operation encounter errors,influxdb could return error message.but influxdb-relay not print this error messages.user can not find any useful information

![image](https://user-images.githubusercontent.com/18585129/52933137-3ab73000-338d-11e9-892f-e61cbc41e9b3.png)

[2019-02-18 11:22] zhangjianweibj commented on #18
now i open log.printf().then i can find useful information which poins cause influxdb-relay crashed

![image](https://user-images.githubusercontent.com/18585129/52947642-449f5a00-33b2-11e9-832f-8ede68efaa7c.png)

[2019-02-20 08:33] rockyluke commented on #18
Thanks for your merge request.

[2019-02-20 08:33] #18 closed

[2019-02-27 07:18] zhangjianweibj opened #20 "InfluxDB HA problem"
hello, i use influxdb-relay as proxy,three influxdb as backend.persister pod write metrics to influx-relay.now i test a situtaion,i shutdown influxdb2 service that relay can not access influxdb2.in my optition,influxdb-relay write success in influxdb0 influxdb1.and return successful message.but in fact ,not return successful message but resuturn a error ,that lead to persister pod crashed.

![imag

[2019-02-27 07:24] zhangjianweibj commented on #20
influxdb/influxdb-realy said "If the write is sent via HTTP, the relay will return a success response as soon as one of the InfluxDB servers returns a success."

![image](https://user-images.githubusercontent.com/18585129/53472785-9e371100-3aa3-11e9-8cde-db8db581e8e1.png)

[2019-02-28 08:59] rockyluke commented on #20
Thanks for your report. We'll fix that ASAP.

[2019-03-01 01:37] harika224121 opened #21 "Error in sending data from Telegraf to Influxdb-relay"
Hello, I am trying to send the data from Telegraf to Influxdb-relay and from there to Influxdb i.e., Telegraf -> Influxdb_relay -> Influxdb. So, I have configured Influxdb-relay IP in the telegraf.conf
as follows:-

[[outputs.influxdb]]
urls = [“http://172.29.29.12:9096/write”]

But the issue is Telegraf is not able to write to Influxdb-relay I am getting error as “Database creation Failed: post h

[2019-03-01 10:05] rockyluke commented on #21
Hello it's sadly a known bug you you can avoid it with.

[code]

We are working on a definitive solution.

[2019-03-01 19:56] harika224121 commented on #21
Thanks @rockyluke  I have added that in telegraf.conf but still facing issue " E! Error writing to output [influxdb]: could not write any address" I have configured the influxdb-relay url in telegraf.conf as

 [[outputs.influxdb]]
 urls = ["http://172.29.29.12:9096/write"] # required
  skip_database_creation=true

Am I configuring it correctly or do I need to make any changes. Please let me know T

[2019-03-01 20:44] harika224121 commented on #21
I have configured The relay config file as follows:-

# -*- toml -*-

# InfluxDB && Prometheus
[[http]]
name = "influxdb-relay"
bind-addr = "127.0.0.1:9096"

[[http.output]]
name = "influx-test"
location = "http://172.29.89.103:8086/" (my  influxdb instance ip)
endpoints = {write="/write", write_prom="/api/v1/prom/write", ping="/ping", query="/query"}
timeout = "10s"

[[udp]]
name = "influxdb-rela

[2019-03-01 20:56] rockyluke commented on #21
Thanks for the follow-up.

Please find below our production's configuration 👇 You need to remove the `/write` in telegraf.conf.

# influxdb-relay.conf

[code]

# telegraf.conf

[code]

[2019-03-01 21:21] harika224121 commented on #21
Hi @rockyluke  thanks for the quick response Does https://influxdb.example.com is your influxdb instance url or influxdb-relay url? Please let me know Thank you

[2019-03-01 21:28] rockyluke commented on #21
influxdb.example.com is my **influxdb-relay** instance name.

influxdb-relay: influxdb.example.com
influxdb server 1: influxdb01.example.com
influxdb server 2: influxdb02.example.com

influxdb-relay is installed on both influxdb01 & influxdb02 and configured to write on each server.

Please find our full configuration on https://github.com/vente-privee/influxdb-relay/issues/14#issuecomment-4555736

[2019-03-01 21:33] rockyluke commented on #11
We have released the version 3.0.1, can you please do some test again ?

**Be careful, we have deeply changed the configuration file syntax.**

[2019-03-01 21:34] rockyluke commented on #13
We have released the version 3.0.1, can you please do some test again ?

**Be careful, we have deeply changed the configuration file syntax.**

[2019-03-01 21:35] rockyluke commented on #14
Can we close this issue? I'm not sure we can help you on that topic. Let us know if you need more.

[2019-03-01 21:36] rockyluke commented on #15
We have released the version 3.0.1, can you please do some test again ?

**Be careful, we have deeply changed the configuration file syntax.**

[2019-03-01 21:39] rockyluke commented on #17
We are still working on better log.

As https://docs.influxdata.com/influxdb/v1.7/write_protocols/line_protocol_tutorial/ says, the issue is with `value_meta="{}"` at the end of the line.

[2019-03-02 00:01] harika224121 commented on #21
Hi @rockyluke  Thanks for the  info added the influxdb-relay instance name in telegraf.conf but still facing the issue "E! [outputs.influxdb]: when writing to [https://influxdb-relay-test-poc.com]: Post https://influxdb-relay-test-poc.com/write?consis
tency=any&db=telegraf: net/http: HTTP/1.x transport connection broken: write tcp 10.0.40.245:54649->173.36.107.95:443: write: broken pipe" any help

[2019-03-02 00:19] harika224121 commented on #21
@rockyluke Influxdb-relay and influxdb servers are running on different IP addresses is that the issue? Is it mandatory that they should be running on same machine? Please let me know Thank you

[2019-03-02 03:00] vikramaroskar commented on #14
@rockyluke I agree. There isn't a quick solution to this. feel free to close it as per your timelines.
If there is something that we can do together, please do tag me. I can help too at that point in time.

Thanks a lot for all your help.

[2019-03-02 07:53] rockyluke commented on #21
I just updated my comments on telegraf.conf, you need to add the port.

On our side it runs on the same server than the main daemon (that's why port 9098 vs. 8086) but we also push to another server wihtout relay on it and it work very well.

[code]

[2019-03-02 07:53] #14 closed

[2019-03-11 03:14] ljhmily commented on #15
i insert 10000 columns, the failed node while restart, only recovery to 3589, then data never change.
and this proxy send to two node is too slow, 10000 columns one node less than 1s, but two node more than 60s

[2019-04-01 19:21] nehalraf opened #23 "Add monitoring on influxdb-relay"
WHAT:
I want to generate alert if influxdb-relay cant connect to influxdb or write to it. Currently /health endpoint is provided but prometheus cant understand it. It will be helpful if someone can add standard /metrics (up, retry-count etc) to relay.

Thanks

[2019-04-06 05:34] toni-moreno opened #24 "[bug?] /query endpoint not working"
Hi@guys, I like a lot this improved version of the influxdata relay. When testing I've found that the query endpoint is not working fine.

![image](https://user-images.githubusercontent.com/5883405/55665334-d289b400-583d-11e9-88c9-f94d61641c87.png)

When reviewing code I've seen that not handled the /query endpoint.

https://github.com/vente-privee/influxdb-relay/blob/ac01d20c93b10ca10c7faf95d7347

[2019-04-07 15:35] rockyluke commented on #24
It's on our plan to implement it.

No ETA right now but I'll talk with the team next week.

[2019-04-07 15:36] rockyluke commented on #23
Good idea. It was in our mind since weeks. We'll talk with the team tomorrow.

[2019-04-07 15:56] toni-moreno commented on #24
Hi @rockyluke I'm working in a data syncronization tool ( just today released first release ) to help creating/maintain HA clusters from single db's (https://github.com/toni-moreno/syncflux/blob/master/README.md)
In this scenario we will need a relay with full query support.

I'm considering help you as muchas we can beacouse we would like the relay query handler can
 ask our sync tool where to se

[2019-04-08 21:46] toni-moreno commented on #24
Hi @rockyluke  I'm working on a [PR](https://github.com/toni-moreno/influxdb-relay/tree/added_query_support_and_syncflux_integration)  ( not ready yet ).

Tomorrow I will draw the proposed architecture with influxdb-relay + syncflux

[2019-04-09 14:44] toni-moreno commented on #24
I would like propose this architecture as a full autonomous HA Cluster . What do you think about?

![HA_architecture_with_syncflux](https://user-images.githubusercontent.com/5883405/55809639-9036d000-5ae6-11e9-90d2-3b1b6639ecc4.png)

[2019-04-09 14:57] toni-moreno commented on #24
On the previously architecture we could add a syncflux-endpoint cluster API  config in the influxdb-relay config file, this would be an example

[code]

On query the syncflux endpoint this would response all available node names, and the influxdb /query handler shoud route query thougth them.

[code]

[code]

[2019-04-09 15:30] toni-moreno opened #25 "[Feature Request] Add enhanced influx queries logging"
I would like control who is querying my databases and how many resources  it is spending.

A good library to this component would be

https://github.com/rs/zerolog

https://github.com/rs/zerolog#integration-with-nethttp

I propose log the following fields

### For all query endpoints (/prom,/write/,/query/,etc)

* Client IP
* User
* URI (/query, /write/ etc)
* influx database
* measurement/s ( sho

[2019-04-09 22:33] rockyluke commented on #24
Thanks for the head up! I will check that tomorrow.

[2019-04-09 22:37] #11 closed

[2019-04-09 22:37] #13 closed

[2019-04-09 22:39] rockyluke commented on #17
Can we consider this issue solved @zhangjianweibj ?

[2019-04-10 02:38] #17 closed

[2019-04-11 06:51] toni-moreno commented on #24
Hi @rockyluke  I've released latest 0.2 version binaries (rpm,deb,docker)  for syncflux.

The main goal for the 0.2 release is act as a PoC for the proposed architecture. Obviously it needs more work mainly handling different fault scenarios  ( both nodes down, down while recovering, split brain, etc).

I've added in my influxdb-relay branch a generic "query-router-endpoint-api" parameter as an ar

[2019-04-12 17:49] toni-moreno commented on #24
Hi @rockyluke next week I should begin a PoC for our proposal, at work.

 And I would like to have already idea if you  would like add this code your influxdb-relay with my PR ( or your own, if you prefer) or should I work with my own fork?

[2019-05-13 09:34] toni-moreno opened #27 "Error message RPM install"
Finally the rpm has been installed , and it works well but the error message apears on install and also on some systemctl actions.

[code]

[2019-05-13 09:35] toni-moreno commented on #27
Sorry this issue is not for this project....

[2019-05-13 09:35] #27 closed

[2019-05-16 16:44] toni-moreno commented on #24
@rockyluke I've finally began working in a smarter relay  from yours  , still needs lots of  work but now seems a good point to

here the Smart-Relay,  https://github.com/toni-moreno/influxdb-srelay
0.2 versión released today

[2019-05-17 15:34] zhangxin511 opened #28 "Help: docker seems stuck on start up"
Thank you for the docker image so I can try your project on windows. However it seems the application stuck on startup without further details.

So when I run `docker run -v {{ConfigPath}}/influxdb-relay.conf:/etc/influxdb-relay/influxdb-relay.conf -p 9096:9096 --rm vptech/influxdb-relay:latest`, I got following output:
[code]
That is no extra logs available and the container seems still running.

[2019-05-17 17:56] zhangxin511 commented on #28
@toni-moreno, I don't see this behavior when using your `tonimoreno/influxdb-srelay` using the same influxdb server with your config file, are you aware of anything might causing this?

[2019-05-17 18:08] zhangxin511 commented on #28
OK, I _think_ I found the issue. In the `[[http]].binding-addr` I changed `127.0.0.1:9096` to `0.0.0.0:9096`, then  `vptech/influxdb-relay:latest` start working. Can this be considered as a bug?

[2019-05-22 06:11] rockyluke commented on #28
Yes, we will take a look really soon.

[2019-05-22 06:12] rockyluke commented on #24
Sorry we have bit overwhelmed recently and we didn't take time to look all the issue 😞

[2019-05-22 08:32] toni-moreno commented on #24
@rockyluke Don't worry , I  will be happy If we can work together with the new smart relay ( if you can and also wish), I will close this issue , and can continue any discussion in the new project site .

[2019-05-22 08:32] #24 closed

[2019-05-24 05:24] nalsas commented on #15
@rockyluke Hi, I have the same issue either. Do you mind tell me where can I get the version 3.01? Thanks!

[2019-06-12 21:26] zhangxin511 opened #30 "Seems always doing TLS verification"
I am running as docker container, It seems not matter how I configure the `skip-tls-verification`, it always check the certs validation.

This is partial of the configure file:
[code]

[code]
Any helps?

[2019-07-22 15:26] aarnaud commented on #20
This issue still exist ?

[2019-08-09 13:35] otolizz opened #31 "Add TLS1.2 configuration"
Hello,

Is there a way to force influxdb-relay to communicate in tls1.2 minimum?
It would be nice to have a configuration like the one in influxdb:

`[tls]
  # Determines the available set of cipher suites. See https://golang.org/pkg/crypto/tls/#pkg-constants
  # for a list of available ciphers, which depends on the version of Go (use the query
  # SHOW DIAGNOSTICS to see the version of Go used to

[2019-08-15 13:35] joriws opened #32 "/status endpoint does not return valid JSON, /health does"
As /health is valid JSON I'd expect /status being too.. This has relevance if I want to monitor relay for example telegraf's httpjson-monitoring.

**# curl -s http://127.0.0.1:9096/status | jq .**
"\"status\": {\"local-influxdb\":{\"buffering\":\"0\",\"maxSize\":\"52428800\",\"size\":\"0\"},\"teleflow-influxdb\":{\"buffering\":\"0\",\"maxSize\":\"52428800\",\"size\":\"0\"}}"

**# curl -s http://12

[2019-08-15 14:44] damoun commented on #32
Good catch, thanks 👍

[2019-08-15 14:58] #32 closed

[2019-08-15 15:02] damoun commented on #15
Hi @ljhmily, could you check if the merged PR #29 fix your issue ?

[2019-08-15 15:20] damoun commented on #28
Did you change `[[http]].binding-addr` in your config file `{{ConfigPath}}/influxdb-relay.conf` @zhangxin511 ?

I think we can change the README and set the `binding-add` to `0.0.0.0:9096`

[2019-08-15 16:36] damoun commented on #20
Hi @zhangjianweibj, I tried your setup using docker-compose but I cannot reproduce your issue with telegraf. Could you share your python code ? Or at least how do you initialize your `InfluxDBClient` object.

Thanks

[2019-08-15 16:55] damoun commented on #30
You're right, the `/health` and `/admin` endpoint doesn't use the `skip-tls-verification`.
We will fix it ASAP, thanks

[2019-08-16 01:00] zhangjianweibj commented on #20
ok.i deploy monasca-persister(https://github.com/openstack/monasca-persister) in docker evn.you can get imge from docker.hub

[2019-08-16 11:32] damoun commented on #20
In some case, influxdb-relay can return a HTTP Status Code 202 when the write is buffered/retried : https://github.com/veepee-moc/influxdb-relay/blob/a21cdf8751883db177645b2866520e30aa738bdb/relay/retry.go#L81-L85

Unfortunately, python-influxdb only accept HTTP Status Code 200 on a write, so that's why monasca-persister keep crashing.

One way to fix this issue would be to replace the 202 by a 20

[2019-08-16 12:25] joriws commented on #32
I don't think fix made things equal.. /status is returned as single string there /health is not.

`
# curl -s http://127.0.0.1:9096/health | jq .
{
  "healthy": {
    "teleflow-influxdb": "OK. Time taken 1.410476ms",
    "local-influxdb": "OK. Time taken 298.657µs"
  },
  "status": "healthy"
}
`

`
# curl -s http://127.0.0.1:9096/status | jq .
"{\"status\": {\"local-influxdb\":{\"buffering\":\"0\"

[2019-08-19 13:38] damoun commented on #32
I reworked my change, could you check if it's ok for you now ?

[2019-08-19 13:47] damoun commented on #31
Hi, sorry it's not available yet but it could be a feature improvement.

We could take kapacitor source-code as an exemple https://github.com/influxdata/kapacitor/blob/master/tlsconfig/config.go

[2019-08-19 14:03] damoun commented on #20
So, I changed the `http.StatusAccepted` by a `http.StatusNoContent` which is more compliant with the write endpoint of the InfluxDB API. It should fix your issue, could you confirm ?

[2019-08-20 14:32] joriws commented on #32
No, now /status is empty on rows, buffer etc. So it does not containt like in above "buffering: 0" type of status information.

[code]

[2019-08-20 14:48] damoun commented on #32
What's your configuration looks like ?

[2019-08-20 15:55] damoun commented on #32
I think I found what I forgot to do. Sorry for the time lost.
Could you try my latest change ?

[2019-08-21 11:52] joriws commented on #32
Very basic config..

[code]

[2019-08-21 11:54] joriws commented on #32
No change to output..

[code]

[2019-08-21 12:33] damoun commented on #32
PEBKAC, I forgot to commit one file 😕

[2019-08-22 08:33] joriws commented on #32
:) Now it seems to work.. Thanks for your effort..

[code]

[2019-08-28 02:24] zhangjianweibj commented on #20
ok,very thanks

[2019-09-04 17:41] zhangxin511 commented on #28
@damoun yes I used `0.0.0.0:9096` for docker it worked.

[2019-09-04 17:41] #28 closed

[2019-09-09 05:57] otolizz commented on #31
It would be great if you could add it in the next version :)

[2019-10-07 13:48] r4yfx opened #33 "Query via load balancer"
Hi

Just started using your application for H/A. It seems to be working well from what I have started using it for. However, I am in the process of setting up grafana and querying the database. When I attempt to use the loadbalancer as the source it was showing errors (502 and 404). I am trying to use the loadbalancer itself and then using the query. Can you please advise if there is something whi

[2019-10-07 14:01] lephisto commented on #33
From what I understand is that the influxdb-relay (what you call loadbalancer) is only suited for write requests. That's why the proposed setting is to use a real http loadbalancer like nginx or haproxy in front that splits /write and /query requests. queries directly go to the influx servers, writes go to the relays. (please correct me someone if i'm wrong).

[2019-10-08 08:14] rockyluke commented on #33
You are very right @lephisto. You can find our schema on https://github.com/strike-team/influxdb-relay/blob/master/docs/architecture.md.

The short version is:
- nginx as a query loadbalancer
- influxdb-relay for write
- influxdb for read

I can share your our configurations if you want.

[2019-10-08 09:38] r4yfx commented on #33
thats fine, thats what I suspected all along. Just added additional to the load balancer and its working fine querying both influxdbs. Thanks for all your help

[2019-10-08 09:38] #33 closed

[2019-10-08 12:29] lephisto commented on #33
In case you want to use haproxy, here's a working config:

[code]

[2019-11-05 19:44] kaugh opened #34 "Http panic error while serving requests"
~200 servers with telegraf-1.12.2-1.x86_64 with a fairly standard configuration
Influxdb-relay (3.0.1 version) bulded on go-1.12.10
Influxdb-1.7.8 on the same host

Config
[code]
Every few minutes, errors appear in the log

What could be the reason for this?

[2019-11-06 10:47] damoun commented on #34
Hi @kaugh,

Thanks for your report.
Do you have the HTTP request that trigger this panic ?
What do you use as telegraf plugins ?

If I follow the backtrace, there is an issue on the Tags.

[2019-11-06 14:37] damoun commented on #34
Since our influxdb import was lock on v1.5.4, I upgraded it to v1.7.9. Could you try the branch [upgrade-vendor](/strike-team/influxdb-relay/tree/upgrade-vendor) and see if your issue is fixed ?

[2019-11-07 06:46] keyboardfann opened #35 "Question: influxdb-relay benchmark"
Hi Guys,
    I try to use inch to do influxdb-relay benchmark but seems inch doesn't support path /write and show 404, does anyone test it or has suggested a tool to test influxdb-relay?
https://github.com/influxdata/inch

[code]

[2019-11-07 07:41] damoun commented on #35
Hi @keyboardfann ,

influxdb-relay only support the /write endpoint so you need to forward /query to influxdb (with haproxy or nginx).

Could you share your result ? We already used benchmarking tools (mostly for http) but not inch.

[2019-11-11 11:26] bengoa commented on #32
Hello @damoun,

Thanks for this fix. I'm facing the same issue here.

Any chance of having a new docker image with this fix pushed to vptech/influxdb-relay?

Cheers!

[2019-11-11 14:53] damoun commented on #32
Hi @bengoa,

Sorry, we just updated our docker image.

[2019-11-11 15:14] bengoa commented on #32
Thank you very much, @damoun.

I've already deployed here and all is working perfectly.

Cheers!

[2019-11-15 11:52] abhimanyu-susan opened #37 "unable to handle more request"
Hi,
I am getting error while trying to push more then 50 records.

after 10-15 records.
..............................
204 No Content
204 No Content
429 Too Many Requests
"Too Many Requests"
429 Too Many Requests
"Too Many Requests"
429 Too Many Requests
........................................................

Thanks.

[2019-11-15 13:20] damoun commented on #37
Hi @abhimanyu-susan,

What's your configuration ?

There is a `rate-limit` in the configuration so the relay will respond a status code 429 if this limit is reached.

[2019-11-15 14:22] #20 closed

[2019-11-15 14:22] #15 closed

[2019-11-15 14:22] #21 closed

[2019-11-15 14:23] #35 closed

[2019-11-18 07:52] keyboardfann commented on #35
Hi @damoun ,
    Could I ask which benchmark tools do you use?

Fann

[2019-11-18 10:44] abhimanyu-susan commented on #37
Hi @damoun

Thanks for your quick reply.
my problem is i am not getting good performance

![image](https://user-images.githubusercontent.com/53175437/69046192-694a6000-0a1e-11ea-8766-d7848df2b47b.png)

you can check this for better understanding.

Thanks.

[2019-11-18 10:47] damoun commented on #37
Hi @abhimanyu-susan,

Can you share your configuration file ?

Thanks

[2019-11-18 10:56] abhimanyu-susan commented on #37
[code]

[2019-11-18 10:58] damoun commented on #35
Hi @keyboardfann,

We used [Vegeta](https://github.com/tsenart/vegeta).

Here is a few metrics I could find about our benchmark. We were checking if our changes introduced performance lost (it didn't) with 2 servers sending write data as fast as possible.

[code]

[2019-11-18 11:01] damoun commented on #37
Can you remove the following line in your configuration and test again ?

[code]

[2019-11-18 11:12] abhimanyu-susan commented on #37
after removing the limit i checked but request/s is so less.

![image](https://user-images.githubusercontent.com/53175437/69047979-69e4f580-0a22-11ea-94f1-48f03ce56f38.png)

[2019-11-18 11:15] damoun commented on #37
What's the request/s if you only request influxdb (`http://172.16.27.127:8086/`) ?

[2019-11-18 11:24] abhimanyu-susan commented on #37
![image](https://user-images.githubusercontent.com/53175437/69048693-1b385b00-0a24-11ea-8c6a-1bb79e6b29a2.png)

[2019-12-06 14:54] damoun commented on #34
We upgraded influxdb dependency into master. Can you try our latest release/docker image ?

[2019-12-11 11:12] r4yfx opened #39 "connection: connection refused"
influxdb-relay version 3.0.1

I am experiencing an issue with one of the clusters which appears to be a memory issue. I have attached part of the log
Dec 10 16:59:59  influxd: ts=2019-12-10T16:59:59.925185Z lvl=info msg="Opened file" log_id=0JdBtiS0000 engine=tsm
1 service=filestore path=/var/lib/influxdb/data/server_one/autogen/226/000000002-000000002.tsm id=0 duration=1.436ms
Dec 10 16:59:59  in

[2019-12-11 12:49] rockyluke commented on #39
Thanks for your report, we will take a look quickly.

[2019-12-11 15:06] damoun commented on #39
Hi @r4yfx,

Could you share your configuration ?

Thanks

[2019-12-12 08:07] r4yfx commented on #39
[code]

Like I said I am not 100% sure that the problem lies here. As I have insufficient information to go on right now, but thought it would good to report it.

[2019-12-18 13:22] r4yfx commented on #39
hello

Just to let you know that this happened again. The only thing which I can see is one of the relays seem to run higher RAM than the other. I am assuming there is some kind of dominance even though they are in H/A pair?

I had dropped the instance size down again. As it appeared to be stable. This is running on aws t3.medium, now t3.large (the other instance is stable on a t3.medium)

Before

[2019-12-18 18:19] kaugh commented on #34
I've tried on latest release. There are 2 types of errors now

index out of range

slice bounds out of range

[code]
[code]

[2019-12-20 04:41] phatad commented on #34
Hi @damoun,
**I have the same problems**

2019/12/20 10:59:00 http: panic serving 10.11.10.101:58646: runtime error: slice bounds out of range
goroutine 30310341 [running]:
net/http.(*conn).serve.func1(0xc0039ce780)
	/usr/local/go/src/net/http/server.go:1769 +0x139
panic(0x719140, 0xa10af0)
	/usr/local/go/src/runtime/panic.go:522 +0x1b5
bytes.Replace(0xc005c263d0, 0x25, 0x1da30, 0x9e5584, 0x2, 0x2

[2019-12-24 09:58] rockyluke commented on #39
Thanks for you report. Due to Christmas holidays we will be slower to answer but we will keep you informed soon.

🤶 🎅

[2019-12-24 09:58] rockyluke commented on #34
Thanks for you report. Due to Christmas holidays we will be slower to answer but we will keep you informed soon.

🤶 🎅

[2020-01-13 11:18] abhimanyu-susan opened #41 "geting error while trying to write data"
Hi Team,

I am trying to write same data by Influxdb-relay and directly to influxdb. Directly i am able to write in influxdb but by realy unable to write that getting log.

2020-01-13T11:11:48.256797028Z unable to parse 'Use\ of\ uninitialized\ value\ in\ printf\ at\ /usr/lib64/nagios/plugins/check_nwc_health\ line\ 67217.': missing fields
2020-01-13T11:11:48.256803029Z unable to parse 'Use\ of\ u

[2020-01-21 13:02] kaugh commented on #34
Hello.
Is there any news about issue?

[2020-01-29 13:36] abhimanyu-susan commented on #41
Resolve

[2020-01-29 13:36] #41 closed

[2020-01-29 13:38] #37 closed

[2020-01-30 09:37] phatad commented on #34
Hello @kaugh
It still panic :'(

[2020-02-08 13:59] kaugh commented on #34
all stalled (

[2020-02-08 19:03] rockyluke commented on #23
/metrics had been implemented in the last commit.

[2020-02-08 19:03] #23 closed

[2020-02-27 09:58] r4yfx opened #42 "example string to add users"
Hi
Is it possible someone could provide me the syntax to add in a username and password via curl

I thought it would be something like this
`curl -X POST "http://loadbalancer:9096/admin" --data-urlencode 'q=CREATE USER test WITH PASSWORD 'testing' WITH ALL PRIVILEGES'
`

[2020-02-27 15:00] damoun commented on #42
Hi @r4yfx,

What's your influxdb-relay configuration ?
Did you configure http.output to https influxdb ? If so, Are there self-signed certificates ?

[2020-02-27 15:34] r4yfx commented on #42
http output should be sufficient for the time being.

[2020-02-27 15:37] r4yfx commented on #42
http output should be sufficient for the time being.

[2020-02-27 16:23] damoun commented on #42
So, I need more info.

Do you get any error message ?
Is there any logs from influxdb-relay ?

[2020-02-27 16:33] r4yfx commented on #42
The example I have used is in the first comment of this thread. I am receiving a 400 bad request. Which lead me to the assumption that the syntax I was using is incorrect. Thats why I am looking for an example.

[2020-02-27 16:46] damoun commented on #42
Could you swap the `'` by `"` like :
`curl -X POST "http://loadbalancer:9096/admin" --data-urlencode "q=CREATE USER test WITH PASSWORD 'testing' WITH ALL PRIVILEGES"`

[2020-03-02 11:40] damoun commented on #42
Did it fix your issue ? I'm gonna close it. You can reopen it if you still have an issue.

[2020-03-02 11:40] #42 closed

[2020-03-02 16:12] damoun commented on #34
I cannot reproduce your issues. Could you share your telegraf configuration ?

[2020-03-20 09:42] dpajin opened #43 "data is relayed when database does not exist in InfluxDB"
Hi strike-team,

Thanks for maintaining this project.

I experience one issue/behavior for which I believe it is not correct. I see that the data is not buffered, but relayed, in case that InfluxDB is up, but the database does not exist. I think that influxdb-relay should check if database exists and only then relay data. Otherwise, the data is "black-holed" and the point of buffering feature is l

[2020-03-24 19:36] dpajin opened #44 "why influxdb-relay opens TCP 8088 port?"
Hello,

I see that influxdb-relay uses TCP port 8088...
[code]
There is nothing in the documentation about this. It seems that it is hardcoded in the following file:
https://github.com/strike-team/influxdb-relay/blob/master/metric/metric.go.

Unfortunately, this overlaps with the port used by InfluxDB (https://docs.influxdata.com/influxdb/v1.7/administration/ports/), so if you want to run it on th

[2020-03-26 14:04] damoun commented on #44
Hello,

It's an http endpoint to expose metrics for prometheus. It was introduced by #40.

[2020-03-26 21:21] dpajin commented on #44
Thanks for clarification.

[2020-03-26 21:21] #44 closed

[2020-03-27 04:57] phatad commented on #34
Hi @damoun,
Here is my configuration :D
----------------------------------
[global_tags]
  cluster = "tag-cluster"
# Configuration for telegraf agent
[agent]
  interval = "60s"
  round_interval = true
  metric_batch_size = 1000
  metric_buffer_limit = 10000
  collection_jitter = "0s"
  flush_interval = "60s"
  flush_jitter = "0s"
  precision = ""
  debug = true
  quiet = false
  logfile = "/var/lo

[2020-07-14 13:33] druchoo commented on #34
Hello, is there any update on this issue? Still seeing it in `v3.1.0` built with `go version go1.14.4 linux/amd64`.

[code]

[2020-07-31 12:35] ZhaokunQiu opened #46 "Is it no need to maintain consistency of influxdb replicas?"
Hi dear,
  I read the source code recently. If I made no mistakes, every relay server write data to all influxdb replicas, and there isn't any sync operation among them. So there is no need to do the sync operation while using influxdb, right?
  As I'm not familiar with it about the usage scenario, is there anyone could help me with the confusion?

[2020-07-31 21:54] rockyluke commented on #46
Your are right. The relay will duplicate the data on all configured servers without checking the consistency.

[2020-08-03 10:36] #46 closed

[2020-09-01 22:08] couloum opened #47 "Add metrics regarding buffer usage"
Hi,

First of all, thanks guys for this great tool and for sharing it.

One feature of influxdb-relay is to buffer queries untill influxdb instance is up. This buffer is critical as if it gets full, we lose queries, and data. However, we have no visibility at all on the usage of this buffer.

It would be great if we could have prometheus metrics on the buffer usage.Ideally, we would need:
1) The t

[2020-09-23 20:04] DylanGore opened #48 "Install/build issue"
There seems to be a problem when installing influxdb-relay lately. I was able to install it successfully a few weeks ago but if I try to install it now it will return the following error:
[code]
I've tried on fresh install of Ubuntu 20.04 and 18.04 and get the same error message on both.

There has been some discussion on a similar issue here but nothing mentioned  there seems to work https://gith

[2020-09-26 19:32] coredump17 commented on #48
I also have this issue on centos 8.

[2020-11-10 04:24] xiuqinzhao commented on #48
I had the same issue on centos. Any help is appreciated

[2020-12-21 18:26] mjiderhamn opened #50 "Support for InfluxDB 2.0 API"
Please add support for relaying InfluxDB 2.0 API endpoints.

Also filed [upstream](https://github.com/influxdata/influxdb-relay/issues/81).

[2022-05-03 21:37] anderfany commented on #50
+1